---
import Layout from '../layouts/Layout.astro'
---

<Layout 
    title="About rock" 
    description="Bienvenidos a mi página acerca de rock, los datos son extraidos de una API para mostrarse. Espero disfrutes viendo acerca de tus bandas favoritas."
>
    <h1>Parte roquera</h1>
</Layout>